{{ define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
      integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/assets/index.js" defer></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
  <style>
    .vertically-centered-container {
      position: relative;
      max-width: 800px;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);
    }

    header a {
      display: inline-block;
      margin-right: 1rem;
    }

    .page-section {
      max-width: 1200px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: auto;
    }

  </style>
  </head>
  <body>
  <header class="page-section">
    {{ if.User }}
      <a class="ui button" href="/logout">Log Out</a>
      {{ if not (eq .User.IsPaidUser true) }}
        <a class="ui button" href="/upgrade"><button>Upgrade</button></a>
      {{ else }}
        <a class="ui button" href="/manage-subscription">Manage Subscription</a>
      {{end}}
    {{ end }}
  </header>
    {{ end }}
