{{define "todo-list"}}
<div id="todo-list">
  {{ if .CanCreateNewTodo }}
  <form
      hx-post="/todo/add"
      hx-trigger="submit"
      hx-target="#todo-list"
      hx-swap="outerHTML"
      >
      <input type="text" name="description" autofocus />
      <input class="ui button" type="submit" value="Submit" />
  </form>
    {{ else }}
    <div>Youve reached your limit</div>
    {{ end }}


    <div id="todos" class="ui divided items">
      {{ range .Todos }} {{ template "todo" .}} {{ end }}
    </div>
</div>
{{end}}
